@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    text-decoration: none;
    border-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #EB5E28;
    --black: #252422;
    --grey: #403D39;
    --lgrey: #CCC5B9;
    --offwhite: #FFFCF2;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    text-align: justify;
    padding-right: 25ch;
    padding-left: 25ch;
}

a {
    text-decoration: none;
}